<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
</head>
<body>
    <p>Bienvenue!</p>
    <form action="/index" method="post">

            <label for="ami">Pseudo de l'ami:</label>
            <input type="text" name="pseudo_ami" id="pseudo_ami" required>
            <input type="submit" value="Discuster">

    </form>
    <p><a href="/log_out">Déconnexion</a></p>
</body>
</html>