<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <title>Bienvenue</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/images/1cf5bd94-00e7-4ea8-b645-eb25f825a806.ico" type="image/x-icon"> 
</head>
<body>
    <p>Bienvenue <span id="pseudoDisplay">${pseudo_client}</span> !</p>
    <div id="utilisateursConnectes">
        <div id="nbrConnectes"></div>
        <p>Utilisateurs en ligne :</p>
        <ul id="listePseudos"></ul> 

    </div>

    <script>
        const socket = io();
        let liste_utilisateurs = document.getElementById("listePseudos");
        let pseudo_client = `{{current_user.pseudo}}`;
        //Afficher le pseudo
        document.getElementById("pseudoDisplay").innerText = pseudo_client;

        function ajouterUtilisateur(utilisateur){
            if(pseudo_client != utilisateur){
                let utilisateurElement = document.createElement("li");
                utilisateurElement.innerText = utilisateur;
                utilisateurElement.addEventListener("click", ()=>{
                    //Création de la room
                    let room_id
                    if (pseudo_client < utilisateur) {
                        room_id = `${pseudo_client}_${utilisateur}`;
                    } else {
                        room_id = `${utilisateur}_${pseudo_client}`;
                    }

                    //Renvoi à la page
                    window.location.href=`/message?room_id=${encodeURIComponent(room_id)}`
                });
                liste_utilisateurs.appendChild(utilisateurElement);
            }

            var nbrConnectesElement = document.getElementById("nbrConnectes");
            nbrConnectesElement.innerText =  (liste_utilisateurs.children.length + 1) + ' utlisateurs connectés';
        }
    
        socket.on("join_connected_list", (utilisateurs) =>{
            liste_utilisateurs.innerHTML = ""
            utilisateurs.forEach((utilisateur) => {
                ajouterUtilisateur(utilisateur)
            });
        });
    </script>

    <p><a href="/log_out" class="deconnexion-btn">Déconnexion</a></p>
</body>
</html>