<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>

<body>
    <h1>Connexion</h1>

    <form action="/log_in" method="post">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="pseudo" name="pseudo" required><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="mot_de_passe" name="mdp" required><br>

        <input type="submit" value="Suivant">
    </form>

</body>
</html>