<!DOCTYPE html>
<html lang="fr">

<head>   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <title>Espace de messages</title>
</head>

<body>
    
    <input type="text" id="messageInput" placeholder="Ecrivez votre message">
    <button id="button" onclick="sendMessage()">Envoyer</button>
    <div class="messages"></div>
    <script>
        const socket = io();
        const pseudo_ami = "{{ pseudo_ami }}";
        let messageContainer = document.querySelector(".messages");

        socket.on("connect", () => {
            let p = document.createElement("p")
            p.innerText = "Vous êtes connecté!"
            messageContainer.appendChild(p)
        });

        let messageInput = document.getElementById("messageInput");

        socket.on('message', (message) => {
            let messageElement = document.createElement("p")
            messageElement.innerText = message
            messageContainer.appendChild(messageElement)
        });

        function sendMessage() {
            socket.emit("message", {pseudo_ami: pseudo_ami, message: messageInput.value});
            messageInput.value = "";
        }

    </script>

    <p><a href="/log_out">Déconnexion</a></p>
</body>
</html>
